.titulo {
    background-color: lightgray;
    height: 50px;
}
h4{
  padding-left: 2%;
}

.alert {
    background-color: rgb(218, 166, 166);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    color:firebrick;
}

.contenedor {
    margin: 0 auto  ;
    border-radius: 0.5%;
    border: 2px solid gray;
   
    width: 1200px;

}
textarea{
    width: 300px;
    height: 100px;
}

.fondo {
    display: center;
}
.final {
    background-color: lightgray;
    height: 50px;